body{
    background-color: #6495ED;
}
#tabela{
    background-color: aliceblue;
}

#div-login{
    text-align: center;
}
#div-login:hover{
    text-align: left;
}

#lista{
    margin-top: 10px;
    background-color: aliceblue;
    cursor: pointer;
}
#lista:hover{
    width: 500px;
    background-color: slategrey;
    color: white;
}